source/Workflows/CheckIn-DAD313C8-4796-EC11-B400-000D3A5B293D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"arb_sharedcommondataserviceforapps_61fb4"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerappsnotificationv2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"arb_sharedpowerappsnotificationv2_5cc2d"},"api":{"name":"shared_powerappsnotificationv2"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"arb_sharedoffice365_bf5c2"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"arganoArbela Cares App Id (arb_arganoArbelaCaresAppId)":{"defaultValue":"2c164235-23d0-41d4-ab90-c36791d7fa46","type":"String","metadata":{"schemaName":"arb_arganoArbelaCaresAppId"}}},"triggers":{"When_a_new_Check_In_is_added":{"metadata":{"operationMetadataId":"bd6904bb-470a-41b7-a74e-492ebdda5aa4"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"arb_checkin","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Terminate":{"runAfter":{"Did_Person_Check_In":["Succeeded"]},"metadata":{"operationMetadataId":"ceba817a-1a49-45b9-a7bf-51a3e0639b98"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Get_Person":{"runAfter":{},"metadata":{"operationMetadataId":"a359dff6-d898-4c5c-a726-b9eb9a169c2d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"arb_persons","recordId":"@triggerOutputs()?['body/_arb_person_value']"},"authentication":"@parameters('$authentication')"}},"Delay_12_Hours_for_Reminder_Notification":{"runAfter":{"Check_if_Unsafe":["Succeeded"]},"metadata":{"operationMetadataId":"db350349-a9a4-4a2d-81d6-c4ae068383fb"},"type":"Wait","inputs":{"interval":{"count":12,"unit":"Hour"}}},"Send_push_notification_V2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"ae6de767-bae4-4b3d-adcd-beff9e814508"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsnotificationv2","operationId":"SendPushNotificationV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsnotificationv2"},"parameters":{"payload/playerType":"PowerApps","payload/app":"@outputs('Compose')","payload/recipients":["@outputs('Get_Person_User_Account')?['body/internalemailaddress']"],"payload/message":"It's time to Check-In! Please complete Check-In within ArganoArbela Care App","payload/openApp":true,"payload/dynamicParams":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"}},"Get_Emergency_Contact":{"runAfter":{"Get_Person":["Succeeded"]},"metadata":{"operationMetadataId":"1860a578-239c-4715-b079-d80579dd7216"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"arb_emergencycontacts","recordId":"@outputs('Get_Person')?['body/_arb_emergencycontact_value']"},"authentication":"@parameters('$authentication')"}},"Get_Emergency_Contact_User_Account":{"runAfter":{"Get_Emergency_Contact":["Succeeded"]},"metadata":{"operationMetadataId":"4d92ab9a-c352-4f8b-992c-dc80d5aff1a0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Emergency_Contact')?['body/_arb_systemuser_value']"},"authentication":"@parameters('$authentication')"}},"Get_Person_User_Account":{"runAfter":{"Get_Emergency_Contact_User_Account":["Succeeded"]},"metadata":{"operationMetadataId":"e0b5acaa-48e3-4b15-b444-024070920654"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Person')?['body/_arb_systemuser_value']"},"authentication":"@parameters('$authentication')"}},"Delay_8_Hours_for_Auto_Notify_Emergency_Contact":{"runAfter":{"Send_push_notification_V2":["Succeeded"]},"metadata":{"operationMetadataId":"047a8f08-7b73-4ef0-8db2-adae379ac1d0"},"type":"Wait","inputs":{"interval":{"count":8,"unit":"Hour"}}},"Get_Check-Ins_for_Person":{"runAfter":{"Delay_8_Hours_for_Auto_Notify_Emergency_Contact":["Succeeded"]},"metadata":{"operationMetadataId":"b9a3e798-eec0-42c2-b51f-3d0ae74fe036"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"arb_checkins","$filter":"_arb_person_value eq '@{outputs('Get_Person')?['body/arb_personid']}'","$orderby":"createdon desc"},"authentication":"@parameters('$authentication')"}},"Did_Person_Check_In":{"actions":{},"runAfter":{"Trigger_Check_In":["Succeeded"]},"else":{"actions":{"Send_Did_Not_Check_In_Email":{"runAfter":{},"metadata":{"operationMetadataId":"67d27911-71bb-47df-953e-7e98776fbb0e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Emergency_Contact_User_Account')?['body/internalemailaddress']","emailMessage/Subject":"@{outputs('Get_Person_User_Account')?['body/fullname']} Did Not Check-In","emailMessage/Body":"<p>@{outputs('Get_Person_User_Account')?['body/fullname']} did not check in on time. (8 hours after reminder notification). <br>\n<br>\nLast Check In: @{triggerOutputs()?['body/createdon']}<br>\nLast Known Latitude: @{triggerOutputs()?['body/arb_latitude']}<br>\nLast Know Longitude: @{triggerOutputs()?['body/arb_longitude']}</p>","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@first(outputs('Get_Check-Ins_for_Person')?['body/value'])?['arb_checkinid']","@triggerOutputs()?['body/arb_checkinid']"]}},"metadata":{"operationMetadataId":"e1875a2d-7839-47f9-89de-f2c78868799d"},"type":"If","description":"If newest Check-In is not equal to trigger check in, then user has checked in since flow trigger"},"Check_if_Unsafe":{"actions":{"Send_email_to_Emergency_Contact":{"runAfter":{},"metadata":{"operationMetadataId":"809e75dd-b4dd-4b92-ba5a-34f802cd3699"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Emergency_Contact_User_Account')?['body/internalemailaddress']","emailMessage/Subject":"@{outputs('Get_Person_User_Account')?['body/fullname']} is NOT SAFE","emailMessage/Body":"<p>@{outputs('Get_Person_User_Account')?['body/fullname']} marked themselves as <span style=\"color: rgb(226,80,65)\"><strong>NOT SAFE</strong></span><span style=\"color: rgb(226,80,65)\"> </span>as of @{triggerOutputs()?['body/createdon']}<br>\n<br>\nLatitude: @{triggerOutputs()?['body/arb_latitude']}<br>\nLongitude: @{triggerOutputs()?['body/arb_longitude']}<br>\n<br>\nComments:<br>\n@{triggerOutputs()?['body/arb_comments']}</p>","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Person_User_Account":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/arb_safe']",173030001]},"metadata":{"operationMetadataId":"f3b7b3b6-59cb-4c3e-9219-7af337e2b48d"},"type":"If"},"Most_Recent_Check_In":{"runAfter":{"Get_Check-Ins_for_Person":["Succeeded"]},"metadata":{"operationMetadataId":"b4f149c3-90fd-4196-9dc0-9c791d04b49f"},"type":"Compose","inputs":"@first(outputs('Get_Check-Ins_for_Person')?['body/value'])?['arb_checkinid']"},"Trigger_Check_In":{"runAfter":{"Most_Recent_Check_In":["Succeeded"]},"metadata":{"operationMetadataId":"1262e0fc-ecad-47dd-b134-20f3ff16ee40"},"type":"Compose","inputs":"@triggerOutputs()?['body/arb_checkinid']"},"Compose":{"runAfter":{"Delay_12_Hours_for_Reminder_Notification":["Succeeded"]},"metadata":{"operationMetadataId":"6e732df5-5ae9-47c9-93b8-1165e985a643"},"type":"Compose","inputs":{"appIdentifier":"@parameters('arganoArbela Cares App Id (arb_arganoArbelaCaresAppId)')","displayName":"ArganoArbela Care","type":"CanvasApp"},"description":"Needed to dynamically pass in Power App from Parameter "}},"outputs":{}}},"schemaVersion":"1.0.0.0"}