source/Workflows/MakeRequest-A17F6BB9-6896-EC11-B400-000D3A5B293D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"arb_sharedcommondataserviceforapps_61fb4"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"arb_sharedoffice365_bf5c2"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Financial Request Contacts (arb_FinancialRequestContacts)":{"defaultValue":"charlotte@arbelatech.com; stephanie@arbelatech.com","type":"String","metadata":{"schemaName":"arb_FinancialRequestContacts","description":"Semi-colon separated list of email addresses of people who should receive notification of Financial Requests"}},"Environment URL (arb_EnvironmentURL)":{"defaultValue":"https://orgc3c8244b.crm.dynamics.com/","type":"String","metadata":{"schemaName":"arb_EnvironmentURL","description":"Can be found in the admin center"}},"Admin App Id (arb_AdminAppId)":{"defaultValue":"f58230e2-d795-ec11-b400-000d3a5b293d","type":"String","metadata":{"schemaName":"arb_AdminAppId"}}},"triggers":{"When_a_new_Request_is_added":{"metadata":{"operationMetadataId":"bd6904bb-470a-41b7-a74e-492ebdda5aa4"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"arb_request","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Terminate":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"ceba817a-1a49-45b9-a7bf-51a3e0639b98"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Get_Person":{"runAfter":{},"metadata":{"operationMetadataId":"a359dff6-d898-4c5c-a726-b9eb9a169c2d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"arb_persons","recordId":"@triggerOutputs()?['body/_arb_person_value']"},"authentication":"@parameters('$authentication')"}},"Get_Emergency_Contact":{"runAfter":{"Get_Person":["Succeeded"]},"metadata":{"operationMetadataId":"1860a578-239c-4715-b079-d80579dd7216"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"arb_emergencycontacts","recordId":"@outputs('Get_Person')?['body/_arb_emergencycontact_value']"},"authentication":"@parameters('$authentication')"}},"Get_Emergency_Contact_User_Account":{"runAfter":{"Get_Emergency_Contact":["Succeeded"]},"metadata":{"operationMetadataId":"4d92ab9a-c352-4f8b-992c-dc80d5aff1a0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Emergency_Contact')?['body/_arb_systemuser_value']"},"authentication":"@parameters('$authentication')"}},"Get_Person_User_Account":{"runAfter":{"Get_Emergency_Contact_User_Account":["Succeeded"]},"metadata":{"operationMetadataId":"1c0d7245-fe3a-4b8f-845c-aa76c0dbbf25"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Person')?['body/_arb_systemuser_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Compose_Url":["Succeeded"]},"cases":{"Case:_Financial_Request":{"case":173030000,"actions":{"Send_an_email_for_Financial_Request":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('varFinancialRequestContacts')","emailMessage/Subject":"[ArganoArbela Cares] Financial Request for @{outputs('Get_Person_User_Account')?['body/fullname']}","emailMessage/Body":"<p>@{outputs('Get_Person_User_Account')?['body/fullname']} has submitted a financial request.<br>\n<br>\nRequest Comments:<br>\n@{triggerOutputs()?['body/arb_comments']}<br>\n<br>\nLink: @{outputs('Compose_Url')}</p>"},"authentication":"@parameters('$authentication')"}}}},"Case:_Contact_Someone":{"case":173030001,"actions":{"Send_email_for_Contact_Someone":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Emergency_Contact_User_Account')?['body/internalemailaddress']","emailMessage/Subject":"[ArganoArbela Cares] Contact Someone Request for @{outputs('Get_Person_User_Account')?['body/fullname']}","emailMessage/Body":"<p>@{outputs('Get_Person_User_Account')?['body/fullname']} has submitted a Contact Someone request.<br>\n<br>\n<br>\nName: @{triggerOutputs()?['body/arb_persontocontactname']}<br>\nEmail: @{triggerOutputs()?['body/arb_persontocontactemail']}<br>\nPhone Number: @{triggerOutputs()?['body/arb_persontocontactphonenumber']}<br>\nIs Phone Number WhatsApp? @{triggerOutputs()?['body/arb_isphonenumberwhatsapp']}<br>\n<br>\nComments:<br>\n@{triggerOutputs()?['body/arb_comments']}<br>\n<br>\nLink: @{outputs('Compose_Url')}</p>"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/arb_requesttype']","metadata":{"operationMetadataId":"6a4db2b8-490c-4dea-a329-effa3f3efabb"},"type":"Switch"},"Initialize_varFinancialRequestContacts":{"runAfter":{"Get_Person_User_Account":["Succeeded"]},"metadata":{"operationMetadataId":"25385d9d-bf9e-40bf-b0d1-7b7c55fb7da8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFinancialRequestContacts","type":"string","value":"@parameters('Financial Request Contacts (arb_FinancialRequestContacts)')"}]}},"Compose_Url":{"runAfter":{"Initialize_varFinancialRequestContacts":["Succeeded"]},"metadata":{"operationMetadataId":"8fc7eeb0-f970-425e-a328-2128053685ff"},"type":"Compose","inputs":"@{parameters('Environment URL (arb_EnvironmentURL)')}/main.aspx?appid=@{parameters('Admin App Id (arb_AdminAppId)')}&pageType=entityrecord&etn=arb_request&id=@{triggerOutputs()?['body/arb_requestid']} "}},"outputs":{}}},"schemaVersion":"1.0.0.0"}